dist
esp_idf_docs_index_lang_*.json
local-utils
out
node_modules
.cache
.vscode-test/
*.vsix
testFiles/blink
!testFiles/dist
testFiles/tools
testFiles/testWorkspace/build
testFiles/testWorkspace/sdkconfig.*
*.log
.DS_Store
bandit_output.txt
flake8_output.txt
results/
report.txt
report.json
test-resources/**