dist
espIdfDocsIndex_lang_*.json
local-utils
out
node_modules
.cache
.vscode-test/
*.vsix
!i18n/*/out
package.nls.*.json
testFiles/tools
!testFiles/dist
*.log
.DS_Store
bandit_output.txt
flake8_output.txt
results/
