#files
idf_versions.txt
*.log
.vscodeignore
.style.yapf
.prettierignore
.gitignore
.bandit
.flake8
yarn.lock
kconfig.code-snippets
espressif_icon.png
get_serial_list.py

#dirs
.vscode
ci/
out/
dist/
node_modules/
templates/
testFiles/
media/
esp_debug_adapter/
