.bandit
.cache
.flake8
.github
.gitignore
.gitlab-ci.yml
.huskyrc.json
.style.yapf
.vscode/**
.vscode-test/**
.yarnrc
ci
dist/**/*.map
docs
esp_idf_vsc_ext.log
metadata.json
node_modules
gulpfile.js
out
package-lock.json
src/**
testFiles/**
tsconfig.json
tslint.json
webpack.config.js
yarn.lock
