.vscode/**
.vscode-test/**
out
dist/**/*.map
src/**
.gitignore
tsconfig.json
.github
.cache
docs
ci
.github
.gitlab-ci.yml
webpack.config.js
testFiles/**
.bandit
.flake8
.huskyrc.json
.style.yapf
esp_idf_vsc_ext.log
tslint.json
yarn.lock
package-lock.json
node_modules
gulpfile.js
.yarnrc
