.bandit
.cache
.flake8
.github
.gitignore
.gitlab-ci.yml
.huskyrc.json
.style.yapf
.vscode/**
.vscode-test/**
.yarnrc
dist/**/*.map
docs
ci
esp/**
esp_idf_docs_index_lang_*.json
esp_idf_vsc_ext.log
gulpfile.js
media/screenshots
media/tutorials
node_modules
out
package-lock.json
report.txt
report.json
src/**
test-resources/**
testFiles/**
tsconfig.json
tslint.json
webpack.config.js
yarn.lock
