asn1crypto==0.24.0
astroid==1.6.5
backports.functools-lru-cache==1.5
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
click
colorama==0.4.1
configparser==3.7.1
enum34==1.1.6
future>=0.17
graphviz==0.10.1
idna==2.8
ipaddress==1.0.22
isort==4.3.4
lazy-object-proxy==1.3.1
doxybook>=3.0.0
mccabe==0.6.1
psutil==5.5.1
pycparser==2.19
pygdbmi==0.9.0.0
pylint==1.9.4
pyparsing==2.3.1
pyserial==3.4
requests==2.21.0
rope==0.12.0
singledispatch==3.4.0.3
six==1.12.0
typing>=3.6.6
urllib3==1.24.1
wrapt==1.11.1
xmlrunner==1.7.7
