$table-color: var(--vscode-editor-foreground);
$table-head-cell-color: var(--vscode-editor-foreground);

$table-cell-border: var(--vscode-sideBarSectionHeader-border);

$table-head-background-color: var(--vscode-notifications-background);
$table-background-color: var(--vscode-editor-background);
$table-striped-row-even-background-color: var(--vscode-sideBar-background);

$table-row-hover-background-color: var(--vscode-sideBar-dropBackground);
$table-striped-row-even-hover-background-color: var(
  --vscode-sideBar-dropBackground
);

@import "~bulma/bulma";

html,
body {
  min-height: 100vh;
}

.title {
  color: var(--vscode-editor-foreground);
}

.subtitle {
  color: var(--vscode-sideBarSectionHeader-border);
}

#plot {
  box-sizing: border-box;
  touch-action: none;
}

thead {
  font-size: var(--vscode-font-size);
}

tbody {
  font-size: var(--vscode-editor-font-size);
  tr {
    cursor: pointer;
  }
}

.table-container {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0;
}
