.sidenav li {
  cursor: pointer;
}

.sidenav {
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 5%; /* Stay at the top */
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-right: 1%;
}

.sidenav p {
  text-decoration: none;
  display: block;
}

.sidenav p:hover {
  color: var(--vscode-textLink-activeForeground);
}
ul > li {
  list-style-type: none;
}
svg {
  fill: var(--vscode-settings-textInputForeground);
  width: 5px;
  height: 15px;
  margin-right: 3%;
}
svg.expanded{
  width: 11px;
  height: 20px;
  margin-top: 3%;
  margin-right: 0%;
}
.sidenav-submenu {
  list-style-type: none;
  list-style-image: none;
}
ul > li.selectedSection > div > p, ul > li.selectedSection > p {
  font-weight: 900;
}

.buttons-bar {
  margin-top: 0.5%;
  text-align: center;
  width: 60%;
}

#topbar {
  background-color: var(--vscode-editor-background);
}

.button-vscode {
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  font-weight: bold;
  border: 0px;
  border-radius: 1%;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: inline-block;
}
.button-vscode:hover {
  background: var(--vscode-button-hoverBackground);
}

.another {
  margin-top: 1%;
  margin-left: 20%;
  position: fixed;
  height: 90%;
  width: 45%;
  overflow-y: scroll;
}

.form-control {
  color: var(--vscode-settings-textInputForeground);
  background-color: var(--vscode-settings-textInputBackground);
  border: 0px;
  outline: 0.5px solid var(--vscode-settings-textInputBorder);
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.form-control:focus {
  box-shadow: 0 0 .25em var(--vscode-settings-textInputForeground);
  outline: 2px solid var(--vscode-settings-textInputForeground);
}

.form-control:hover {
  box-shadow: 0 0 .25em var(--vscode-settings-textInputForeground);
}

input[type="search"].form-control {
  padding: 5%;
  width: 365%;
  margin-left: 2%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 5px;}
  .sidenav a {font-size: 12px;}
}

select {
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1000 1000'><g><g><path d='M500,10L227.8,391.1h544.4L500,10z M500,990l272.2-381.1H227.8L500,990L500,990z'/></g></g></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(95%) center;
  background-repeat: no-repeat;
  padding-right: 5%;
  border-radius: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.switch_box {
  display: -webkit-box;
  display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.switch_1 {
  -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
  height: 18px;
  width: 18px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;     
  margin-right: 1%;
  outline: none;
  position: relative;
  color: var(--vscode-settings-checkboxForeground);
  background-color: var(--vscode-settings-checkboxBackground);
  box-shadow: 0 0 .15em var(--vscode-settings-textInputForeground);
}

.switch_1:checked::before
{
     position: absolute;
     left: 15%;
     content: '\2713';
     font-size: 15px;
}
.switch_1:hover
{
  box-shadow: 0 0 .25em var(--vscode-settings-textInputForeground);
}

#logo-background {
  height: 30%;
  width: 25%;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
}

.info-collapse {
  position: inherit;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  top: 50%;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 10px;
}

.content p ul li {
  list-style-type: disc;
}

span {
  color: rgb(231, 76, 60);
  border-style: solid;
  border-color: var(--vscode-settings-textInputForeground);
  border-width: 0.5px;
  padding: 3px;
  display: inline-flex;
}

.sidenav-section {
  max-height: 0;
}

.menu-section {
  overflow: hidden;
}

.submenu {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.subsubmenu {
  margin-left: 20px;
  border-radius: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  padding-right: 10px;
  overflow: hidden;
  margin-right: 10px;
}

.openedSection {
  height: auto;
}

.form-group {
  padding-left: 30px;
}

h2, h3, h4 {
  margin-left: 30px;
  display: inline-block;
}

.menuconfig {
  padding-left: 0px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--vscode-button-background);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loadingWindow, .errorWindow, .window {
  max-width: 900px;
  margin: auto;
}

.loadingWindow {
  position: absolute;
  left: 50%;
  top: 50%;
}

.errorWindow{
  color: red;
  font-size: xx-large;
  text-align: center;
  left: 25%;
  top: 50%;
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body::-webkit-scrollbar,
.sidenav::-webkit-scrollbar,
.another::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb,
.sidenav::-webkit-scrollbar-thumb,
.another::-webkit-scrollbar-thumb {
background-color: var(--vscode-scrollbarSlider-activeBackground);
outline: 1px solid var(--vscode-scrollbarSlider-activeBackground);
}
