<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IDF Tracing</title>
</head>

<body>
    <div id="app">
        <header class="section">
            <div class="container">
                <nav class="level is-mobile">
                    <h1 class="title is-size-5-mobile" v-html="title"></h1>
                </nav>
                <p class="subtitle is-size-6-mobile">
                    {{subtitle}}
                </p>
            </div>
        </header>
        <div class="section no-padding-top">
            <div class="container">
                {{fileName}}
            </div>
        </div>
    </div>
</body>

</html>