@import "./espCommons.scss";

div.notification{
    max-height: calc(65vh);
    overflow: auto;
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}
.button.is-static {
    background-color: transparent;
    color: var(--vscode-foreground);
    border-color: var(--vscode-foreground);
}

.notification pre {
    color: var(--vscode-foreground);
    background-color: transparent;
}