@import "./espCommons.scss";

div.notification{
    max-height: calc(65vh);
    overflow: auto;
}
.button.is-static {
    background-color: transparent;
    color: var(--vscode-foreground);
    border-color: var(--vscode-foreground);
}

