# Basic temporary extensions
*.pyc
*.tmp
*.log

# IDE, deployment folders and files
/__pycache__
/.idea
/.venv
/.vscode
/build
/dist
/docs
/*.egg-info
*.sublime-workspace
/debug_backend/*.bak
*/reports
*bak
