name: CI

on: [push, pull_request]

jobs:
  extension_ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Clone Repository
        uses: actions/checkout@v2
        with:
          submodules: "recursive"

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: 3.5

      - name: Install Node Dependencies
        run: yarn

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r esp_debug_adapter/requirements.txt

      - name: Lint Check
        run: yarn lint

      - name: Package .vsix
        run: yarn package

      - name: Upload .vsix File
        uses: actions/upload-artifact@v1
        with:
          name: esp-idf-extension.vsix
          path: esp-idf-extension.vsix

      - name: Extension Test
        uses: GabrielBB/xvfb-action@v1.2
        with:
          run: yarn test --VERBOSE | tee testing.results.log
        env:
          CODE_VERSION: "1.41.1"

      - name: Upload testing.results.log
        uses: actions/upload-artifact@v1
        with:
          name: testing.results.log
          path: testing.results.log
