name: Precommit Hook

on:
    pull_request:
        branches: [ master ]

jobs:
  precommit:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9  

    - name: Install pre-commit
      run: pip install pre-commit

    - name: Run pre-commit hook
      run: pre-commit run