name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/stale@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: "This issue has been marked as stale since there are no activities for the last 15 days and this issue will be closed 5 days for today if there are still no further activities."
          stale-pr-message: "Pull request has been marked as stale since there are no activities, this will be closed if there are no further activities in this for next 5 days"
          stale-issue-label: "stale"
          stale-pr-label: "stale"
          days-before-stale: 15
          days-before-close: 5
